/* AUTH PAGE BACKGROUND */

.auth-container {

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
  135deg,
  #0f2027,   /* deep ocean */
  #2c5364,   /* sea blue */
  #4facfe,   /* light water */
  #d2b48c,   /* beach sand */
  #8b5e3c    /* wet sand / brown */
);

  background-size: 300% 300%;
  animation: oceanMove 12s ease infinite;

}

/* OCEAN BACKGROUND ANIMATION */

@keyframes oceanMove {

  0% { background-position: left top; }

  50% { background-position: center center; }

  100% { background-position: right bottom; }

}


/* LOGIN CARD */

.auth-card {

  width: 800px;

  padding: 56px;

  border-radius: 56px;

  background: rgba(255,255,255,0.12);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    0px 10px 35px rgba(0,0,0,0.35),
    0px 0px 15px rgba(79,172,254,0.6);

  animation: floatCard 5s ease-in-out infinite;

}

/* FLOATING EFFECT */

@keyframes floatCard {

  0% { transform: translateY(0px); }

  50% { transform: translateY(-8px); }

  100% { transform: translateY(0px); }

}


/* TITLE */

.auth-card h2 {

  text-align: center;

  margin-bottom: 25px;

  font-size: 30px;

  color: white;

  text-shadow:
    0px 0px 12px rgba(255,255,255,0.6),
    0px 0px 20px rgba(79,172,254,0.8);

}


/* LABEL */

.auth-card label {

  font-weight: 600;

  margin-top: 12px;

  display: block;

  color: #e2e8f0;

}


/* INPUT */

.auth-card input {

  width: 100%;

  padding: 12px;

  margin-top: 8px;

  border-radius: 12px;

  border: 1px solid rgba(255,255,255,0.3);

  background: rgba(255,255,255,0.15);

  color: white;

  font-size: 14px;

  outline: none;

  transition: 0.25s;

}

/* INPUT FOCUS */

.auth-card input:focus {

  border: 1px solid #00c6ff;

  box-shadow: 0px 0px 8px rgba(0,198,255,0.8);

}


/* LOGIN BUTTON */

.auth-card button {

  width: 15%;

  margin-top: 22px;

  padding: 12px;

  background: linear-gradient(
    135deg,
    #00c6ff,
    #0072ff
  );

  color: white;

  border: none;

  border-radius: 12px;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.25s;

  box-shadow: 0px 6px 18px rgba(0,0,0,0.35);

}

/* BUTTON HOVER */

.auth-card button:hover {

  transform: scale(1.05);

  box-shadow:
    0px 0px 18px rgba(0,198,255,0.8),
    0px 0px 28px rgba(79,172,254,0.9);

}


/* SIGNUP TEXT */

.auth-card p {

  text-align: center;

  margin-top: 18px;

  color: #cbd5e1;

}

.auth-card a {

  color: #4facfe;

  font-weight: bold;

  text-decoration: none;

}

.auth-card a:hover {

  text-decoration: underline;

}


/* BACK BUTTON */

.back-btn {

  background: none;

  border: none;

  color: #4facfe;

  font-size: 14px;

  cursor: pointer;

  margin-bottom: 10px;

  text-align: left;

}

.back-btn:hover {

  text-decoration: underline;

}